body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/image/library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 20%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#title{
    color:black;
    align-items:center;
    padding: 8px;
    padding-left: 55px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


label {
    width: 120px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}


input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;

}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
